<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>
		Document
	</title>
	<style>
	#printFormat table { border-collapse: separate; border-spacing: 3px; font-size: 90%; }
    #printFormat td{ background-color: #fff; padding: 5px; margin: 0; }
    #printFormat h3 { margin: 0; font-size: 110%;}
    .tdbox { border: 1px solid #000; }
    .tdboxc { border: 1px solid #000; text-align: center; }
	</style>
</head>
<body class="">
	<div id="printFormat" class="hidden">
        <table style="width: 100%;">
    		<tbody>
                <tr style="font-size: 1px;">
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                    <td style="width: 6.25%;">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="16" class="tdboxc" style="font-size: 150%;">
                        <strong>L/C TERMS &amp; CONDITIONS</strong>
                    </td>
                </tr>
                <tr>
    				<td colspan="16" class="tdboxc">
    					<strong>Company Name: Grameenphone Ltd.</strong><br />
    					<strong style="font-size: 120%;">All the following terms &amp; condition must be stipulated in the Letter of Credit</strong>
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2" class="tdboxc">
    					1
    				</td>
    				<td colspan="14" class="tdbox">
    					Brief Description of Equipment to be mentioned in the L/C:
    				</td>
    			</tr>
                <tr>
    				<td colspan="2"></td>
    				<td colspan="14" class="tdbox">
    					##lcdesc1##
    				</td>
    			</tr>
                <tr>
    				<td colspan="2" class="tdboxc">
    					2
    				</td>
    				<td colspan="14" class="tdbox">
    					HS Code No.
    				</td>
    			</tr>
                <tr>
    				<td></td>
    				<td class="tdboxc">A</td>
    				<td class="tdboxc">SEA</td>
    				<td colspan="13" class="tdbox">
    					##hscsea1##
    				</td>
    			</tr>
                <tr>
    				<td></td>
    				<td class="tdboxc">B</td>
    				<td class="tdboxc">AIR</td>
    				<td colspan="13" class="tdbox">
    					##hscode1##
    				</td>
    			</tr>
                <tr>
    				<td colspan="16" class="tdboxc">
    					<strong>Has to be mentioned in every shipping document such as Invoice, Packing List, BL/Air Waybill and Certificate of Origin.</strong>
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2" class="tdboxc">3</td>
    				<td colspan="11" class="tdbox">
    					Certificate of Origin to be issued by local Chamber of Commerce of the exporting country.
    				</td>
    				<td colspan="3" class="tdboxc">
    					##cocorigin##
    				</td>
    			</tr>
                <tr>
    				<td colspan="2" class="tdboxc">4</td>
    				<td colspan="11" class="tdbox">
    					Invoice/Packing List/BL/Air Waybill/Certificate of Origin must be submitted in original to the L/C Negotiating Bank.
    				</td>
    				<td colspan="3" class="tdboxc">
    					##iplbltolcbank##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2" class="tdboxc">5</td>
    				<td colspan="11" class="tdbox">
    					The supplier must certify that the delivery has been made in accordance to the terms &amp; condition of the L/C and Purchase Order:
    				</td>
    				<td colspan="3" class="tdboxc">
    					##delivcertify##
    				</td>
    			</tr>
    			<tr>
                    <td colspan="2" class="tdboxc">6</td>
    				<td colspan="11" class="tdbox">
    					Quality certificate from supplier or manufacturer and Phytosanitary certificate from concerned authority
    				</td>
    				<td colspan="3" class="tdboxc">
    					##qualitycertify##
    				</td>
    			</tr>
    			<tr>
                    <td colspan="2" class="tdboxc">7</td>
    				<td colspan="11" class="tdbox">
    					One set of advance shipping document to sent by e-mail to the Applicant within 7 (seven) Working days from the date of shipment:
    				</td>
    				<td colspan="3" class="tdboxc">
    					##advshipdoc##
    				</td>
    			</tr>
    			<tr>
                    <td colspan="2" class="tdboxc">8</td>
    				<td colspan="11" class="tdbox">
    					One set of advance shipping document consisting of Invoice and Bill of Lading/AirWaybill to be sent by e-mail to the insurance company within 7 (seven) Working days from the date of shipment. (Note: Insurance
    					Company’s Full Address and FAX number must be mentioned in the L/C).
    				</td>
    				<td colspan="3" class="tdboxc">
    					##advshipdocwithbl##
    				</td>
    			</tr>
    			<tr>
                    <td colspan="2" class="tdboxc">9</td>
    				<td colspan="11" class="tdbox">
    					AddConfirmation:
    				</td>
    				<td colspan="3" class="tdboxc">
    					##addconfirmation##
    				</td>
    			</tr>
    			<tr>
                    <td colspan="2" class="tdboxc">10</td>
    				<td colspan="11" class="tdbox">
    					Pre-shipment inspection:
    				</td>
    				<td colspan="3" class="tdboxc">
    					##preshipinspection##
    				</td>
    			</tr>
    			<tr>
                    <td colspan="2" class="tdboxc">11</td>
    				<td colspan="11" class="tdbox">
    					Transhipment:
    				</td>
    				<td colspan="3" class="tdboxc">
    					##transshipment##
    				</td>
    			</tr>
    			<tr>
                    <td colspan="2" class="tdboxc">12</td>
    				<td colspan="11" class="tdbox">
    					Part Shipment:
    				</td>
    				<td colspan="3" class="tdboxc">
    					##partship##
    				</td>
    			</tr>
    			<tr>
                    <td colspan="2" class="tdboxc">13</td>
    				<td colspan="11" class="tdbox">
    					Add confirmation charges at:
    				</td>
    				<td colspan="3" class="tdboxc">
    					Not Applicable
    				</td>
    			</tr>
                <tr>
    				<td colspan="2" class="tdboxc">14</td>
    				<td colspan="14" class="tdbox">
    					<strong>Following numbers to be mentioned in each and every shipping documents:</strong>
    				</td>
    			</tr>
                <tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">(A)</td>
    				<td colspan="3" class="tdbox">IRC No. :</td>
    				<td colspan="3" class="tdbox">##ircno##</td>
    				<td class="tdboxc">(B)</td>
    				<td colspan="3" class="tdbox">Import Permit No.:</td>
    				<td colspan="3" class="tdbox">##imppermitno##</td>
    			</tr>                
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">(C)</td>
    				<td colspan="3" class="tdbox">TIN No. :</td>
    				<td colspan="3" class="tdbox">##tinno##</td>
    				<td class="tdboxc">(D)</td>
    				<td colspan="3" class="tdbox">LCANo. :</td>
    				<td colspan="3" class="tdbox">##lcno##</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">(E)</td>
    				<td colspan="3" class="tdbox">VAT Reg. No.:</td>
    				<td colspan="3" class="tdbox">#vatregno##</td>
    				<td class="tdboxc">(F)</td>
    				<td colspan="3" class="tdbox">Purchase Order No.</td>
    				<td colspan="3" class="tdbox">##pono1##</td>
    			</tr>
                <tr>
    				<td colspan="2" class="tdboxc">15</td>
    				<td colspan="14" class="tdbox">
    					Delivery Mode:
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td colspan="16" class="tdbox">
    					##shipmode2##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2" class="tdboxc">16</td>
    				<td colspan="4" class="tdbox">
    					Port of Shipment:
    				</td>
    				<td colspan="10" class="tdbox">
    					##shipport1##
    				</td>
    			</tr>
                <tr>
    				<td colspan="2" class="tdboxc">17</td>
    				<td colspan="4" class="tdbox">
    					Country of Origin:
    				</td>
    				<td colspan="10" class="tdbox">
    					##origin1##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2" class="tdboxc">18</td>
    				<td colspan="14" class="tdbox">
    					Shipping Marks :
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">(A)</td>
    				<td colspan="3" class="tdbox">
    					Purchase Order No:
    				</td>
    				<td colspan="10" class="tdbox">
    					##pono2##
    				</td>
    			</tr>
                <tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">(B)</td>
    				<td colspan="3" class="tdbox">
    					Customer Name:
    				</td>
    				<td colspan="10" class="tdbox">
    					##customername##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">(C)</td>
    				<td colspan="3" class="tdbox">
    					Customer Address:
    				</td>
    				<td colspan="10" class="tdbox">
    					##customeraddress##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">(D)</td>
    				<td colspan="3" class="tdbox">
    					TIN No:
    				</td>
    				<td colspan="10" class="tdbox">
    					##tinno1##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">(E)</td>
    				<td colspan="3" class="tdbox">
    					L/C No:
    				</td>
    				<td colspan="10" class="tdbox">
    					##lcno1##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">(F)</td>
    				<td colspan="3" class="tdbox">
    					Destination:
    				</td>
    				<td colspan="10" class="tdbox">
    					##destination##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">(G)</td>
    				<td colspan="3" class="tdbox">
    					Supplier:
    				</td>
    				<td colspan="10" class="tdbox">
    					##supplier1##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">(H)</td>
    				<td colspan="3" class="tdbox">
    					Country of Origin:
    				</td>
    				<td colspan="10" class="tdbox">
    					##origin2##
    				</td>
    			</tr>
                <tr>
    				<td colspan="2" class="tdboxc">19</td>
    				<td colspan="4" class="tdbox">
    					Last date of shipment:
    				</td>
    				<td colspan="4" class="tdbox">
    					##lastdateofship##
    				</td>
    				<td colspan="3" class="tdbox">
    					20 . L/C Expiry date:
    				</td>
    				<td colspan="3" class="tdbox">
    					##lcexpirydate##
    				</td>
    			</tr>
                <tr>
    				<td colspan="2" class="tdboxc">21</td>
    				<td colspan="14" class="tdbox">
    					L/C beneficiary &amp; Address:
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td colspan="14" class="tdbox">
    					##lcbankaddress1##
    				</td>
    			</tr>
                <tr>
    				<td colspan="2" class="tdboxc">22</td>
    				<td colspan="14" class="tdbox">
    					<strong>Negotiating Bank:</strong>
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td colspan="14" class="tdbox">
    					##negobank1##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2" class="tdboxc">23</td>
    				<td colspan="14" class="tdbox">
    					<strong>Payment Terms :</strong>
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td colspan="14" class="tdbox">
    					##selectPaymentTerm##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2" class="tdboxc">24</td>
    				<td colspan="4" class="tdbox">
    					Advising Bank:
    				</td>
    				<td colspan="10" class="tdbox">
    					##advBank##
    				</td>
    			</tr>
                <tr>
    				<td colspan="2" class="tdboxc">25</td>
    				<td colspan="4" class="tdbox">
    					Contact Person for PSI:
    				</td>
    				<td colspan="10" class="tdbox">
    					##contactPSI##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2" class="tdboxc">26</td>
    				<td colspan="14" class="tdbox">
    					<strong>PSI Clause to be mentioned in the L/C :</strong>
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">A</td>
    				<td colspan="3" class="tdbox">AIR</td>
    				<td colspan="10" class="tdbox">
    					##psiClauseA##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">B</td>
    				<td colspan="3" class="tdbox">SEA</td>
    				<td colspan="10" class="tdbox">
    					##psiClauseB##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2" class="tdboxc">27</td>
    				<td colspan="14" class="tdbox">
    					<strong>Insurance Notification :</strong>
    				</td>
    			</tr>
    			<tr>    				
    				<td colspan="2"></td>
    				<td colspan="14" class="tdbox">
    					##insNotification1##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td colspan="14" class="tdbox">
    					##insNotification2##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td colspan="14" class="tdbox">
    					##insNotification3##
    				</td>
    			</tr>
                <tr>
    				<td colspan="2" class="tdboxc">28</td>
    				<td colspan="14" class="tdbox">
    					<strong>Packing Instruction:</strong>
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">A</td>
    				<td colspan="3" class="tdbox">
    					For AIR Shipment
    				</td>
    				<td colspan="10" class="tdbox">
    					##forAirShipment1##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">B</td>
    				<td colspan="3" class="tdbox">
    					For SEA Shipment
    				</td>
    				<td colspan="10" class="tdbox">
    					##forSeaShipment1##
    				</td>
    			</tr>
                <tr>
    				<td colspan="2" class="tdboxc">29</td>
    				<td colspan="14" class="tdbox">
    					<strong>Note: Please do not mention the text "Invoice also to mention Name of Carrier:</strong>
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">A</td>
    				<td colspan="3" class="tdbox">
    					AIR
    				</td>
    				<td colspan="10" class="tdbox">
    					##forAirShipment2##
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2"></td>
    				<td class="tdboxc">B</td>
    				<td colspan="3" class="tdbox">
    					SEA
    				</td>
    				<td colspan="10" class="tdbox">
    					##forSeaShipment2##
    				</td>
    			</tr>
                <tr>
    				<td colspan="2" class="tdboxc">30</td>
    				<td colspan="14" class="tdbox">
    					OTHER REMARKS: (For additional information other than the above)
    				</td>
    			</tr>                
                <tr>
    				<td colspan="2"></td>
                    <td colspan="14" class="tdbox">
                        ##shippingRemarks##
                    </td>
    			</tr>
            </tbody>
        </table>
    </div>
	</body>

</html>