<div style="width: 600px;">
    <br>
    <br>
    <p style="font-size: 15px;font-family:Telenor; text-align: center">Grameenphone Ltd.<br>Central Warehouse<br>Keton, Motbari, Kaliganj, Gazipur<br>Dhaka<br>Preliminary Goods Received Declaration</p>
    <br>
    <table style="text-align: left; border-collapse: collapse; font-size:15px;font-family:Telenor;">
        <tbody>
        <tr>
            <td>Attn:&nbsp;&nbsp;</td>
            <td>##PRUSER##</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>##BUYER##</td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <table style="text-align: left; border-collapse: collapse; font-size:15px;font-family:Telenor;">
        <tbody>
        <tr>
            <td>IPC No.</td>
            <td>:</td>
            <td>##IPCNO##</td>
        </tr>
        <tr>
            <td>Order No.</td>
            <td>:</td>
            <td>##PONO##</td>
        </tr>
        <tr>
            <td>Receiving Date</td>
            <td>:</td>
            <td>##RECEIVINGDATE##</td>
        </tr>
        <tr>
            <td>Box Qty.</td>
            <td>:</td>
            <td>##BOXQTY##</td>
        </tr>
        <tr>
            <td>Remarks</td>
            <td>:</td>
            <td>##REMARKS## </td>
        </tr>
        <tr>
            <td>Supplier</td>
            <td>:</td>
            <td>##SUPPLIER##</td>
        </tr>
        <tr>
            <td>PR No.</td>
            <td>:</td>
            <td>##PRNO##&nbsp;</td>
        </tr>
        <tr>
            <td>MAW bill/HAW bill&nbsp;&nbsp;&nbsp;</td>
            <td>:&nbsp;&nbsp;</td>
            <td>##MAWBILL##</td>
        </tr>
        <tr>
            <td>Bill Of Lading</td>
            <td>:</td>
            <td>##BILLLAD##</td>
        </tr>
        <tr>
            <td>Received Materials</td>
            <td>:</td>
            <td>##INVQTY##</td>
        </tr>
        </tbody>
    </table><br>
    <p>
        You are requested to arrange inspection of the above consignment and give us final report of quality & quantity. Until inspection above item cannot be included in the warehouse inventory and will not be possible to issue them for your necessary action. You are requested to inform your inspection and time at least 24 hours before the inspection.
    </p>
    <br>
    <p style="margin-bottom:12.0pt;font-size:15px;font-family:Telenor;">Thanks & Regards,</p>
    <p style="margin-bottom:12.0pt;font-size:15px;font-family:Telenor;">Bashir<br>8801711506402</p>
    <br>
    <br>
</div>
